.borderless {
    -fx-background-radius: 0;
    -fx-border: none;
}

.cell {
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.cell1 {
    -fx-background-color: #AAD751;
}

.cell2 {
    -fx-background-color: #A2D149;
}

.cell1:hover, .cell2:hover {
    -fx-background-color: #A2BF6A;
}

.cell-revealed1 {
    -fx-background-color: #E5C29F;
}

.cell-revealed2 {
    -fx-background-color: #D7B899;
}

.cell-exploded1 {
    -fx-background-color: #F23607;
}

.cell-exploded2 {
    -fx-background-color: #E63307;
}

.cell-adjacent-mine-count1 {
    -fx-text-fill: #2D79DB;
}

.cell-adjacent-mine-count2 {
    -fx-text-fill: #47904B;
}

.cell-adjacent-mine-count3 {
    -fx-text-fill: #C7413E;
}

.cell-adjacent-mine-count4 {
    -fx-text-fill: #793393;
}

.cell-adjacent-mine-count5 {
    -fx-text-fill: #F1991E;
}

.cell-adjacent-mine-count6 {
    -fx-text-fill: #3D98AA;
}

.cell-adjacent-mine-count7 {
    -fx-text-fill: #44433F;
}

.cell-adjacent-mine-count8 {
    -fx-text-fill: #A39C94;
}
