.borderless {
    -fx-background-radius: 0;
    -fx-border: none;
}

.mine {
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-clip: rect(0, 50px, 50px, 0);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.mine1 {
    -fx-background-color: #AAD751;
}

.mine1:hover {
    -fx-background-color: grey;
}

.mine2 {
    -fx-background-color: #A2D149;
}

.mine2:hover {
    -fx-background-color: grey;
}

.mine1-explored {
    -fx-background-color: #E5C29F;
}

.mine2-explored {
    -fx-background-color: #D7B899;
}
